<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <title><%= title %></title>

    <link rel="stylesheet" href="../styles.css">
    <!-- <link rel="stylesheet" href="../output.css"> -->

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .details {
            font-size: 24px;
            font-weight: bold;
        }
        /* .status {
            font-size: 24px;
            font-weight: bold;
        } */
        /* .checkmate { color: red; }
        .check { color: orange; }
        .continue { color: green; } */


        .button{
            border: 2px solid rgb(168, 121, 121);
            border-radius: 20px;
            margin: 10px auto;
            color: black;
            padding: 10px 30px;
            background-color: rgb(108, 134, 134);
        }
        .button:hover{
            background-color: rgb(88, 173, 173);
        }
    </style>
        
</head>

<body>
    
    <div class="w-full h-screen flex justify-center items-center bg-zinc-900 gap-10">
        
        <div class="chessboard w-96 h-96 bg-red-800">
            Chess Board
        </div>
        
        <div class="gameData details"> 
            <h1 id="currentPlayer">White to play now</h1> 
            <h1 id="gameStatus">Game Status : continues</h1>
            <h1 id="gameResult">Game Result : None</h1>
            <h1 id="pieceDetail">Opponent's Late Move : None</h1>
            <button id="resetButton" class="button reset">Reset</button>
            <button id="newGameButton" class="button newGame">New Game</button>
            <button id="loadButton" class="button load">Load</button>
        </div>
        

    </div>
    
    <!-- <script src="../file.js"></script> -->
    <script src="file.js"></script>


    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
    integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="/chessgame.js"></script>

    
</body>

</html>